.c4d-woo-cate-carousel {
	min-height: 30px;
	overflow: hidden;
	position: relative;
	&:after {
		content: '';
		clear: both;
		display: block;
	}
	&__slider {
		> div > .item {
			height: 30px;
			float: left;
			opacity: 0;
		}
	}
	.item {
		text-align: center;
		padding: 30px 0 25px;
		a {
			display: inline-block;
		}
		.icon {
			height: 40px;
		    font-size: 40px;
		    color: #999;
		    margin: 7px auto 15px;
		    transition: all 0.3s;
		    > * {
		    	transition: all 0.3s;	 
		    }
		}
		.title {
			font-family: Lato !important;
		    font-size: 14px;
		    line-height: 20px;
		    text-transform: uppercase;
		    color: #000;
		    margin: auto auto 0px;
		    transition: all 0.3s 0.1s;
		}
		.count {
			margin: auto;
		    font-size: 10px;
		    line-height: 18px;
		    text-transform: uppercase;
		    color: #999;
		    transition: all 0.3s 0.2s;
		}
	}
	.owl-theme .owl-controls {
		margin: auto;
		padding: 0;
		.owl-buttons div {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 5px;
			width: 40px;
			height: 40px;
			line-height: 40px;
			text-align: center;
			color: #cfcfcf;
			background: #fff;
			box-shadow:  0px 1px 5px rgba(0,0,0,0.3);
			margin: auto;
			padding: 0;
			border-radius: 0px;
			font-size: 14px;
			&:hover {
				color: #000;
			}
			&.owl-next {
				left: auto;
				right: 5px;
			}
		}
	}
}